<h1 class="style-title">Words</h1>
<table class="table table-striped">
	<thead>
		<th><strong>Text</strong></th>
		<th><strong>Letters</strong></th>
		<th><strong>Edit</strong></th>
	</thead>
	<tbody>
		
		<% @words.each do |word| %>
		
			<tr>
				<td><a href='/words/<%= "#{word.id}" %>'><%= word.text %></a></td>
				<td><%= word.letters %></td>
				<td><a href='/words/<%= "#{word.id}" %>/edit'>edit</a></td>
			</tr>
		
		<% end %>

	</tbody>
</table>