<h2 class="style-sub">Big Bad Word of the Day</h2>
<div class="well well-sm"><p class="big-words"><%= @word.text %> <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> <%= @word.letters %> </p></div>