<div class="inside-container">
	<h2>About This App</h2>
</div>
<div>
	<p>This app was created by <a href="http://chrismchapman.com" target="_blank">Chris Chapman</a> as part of the <a href="http://skillcrush.com" target="_blank">Skillcrush</a> course on <a href="http://skillcrush.com/blueprint/ruby-rails-developer/" target="_blank">Ruby on Rails development</a>. Technologies and systems used to create this app include:</p>
		<ul>
			<li><a href="http://www.postgresql.org/" target="_blank">Postgres</a> for the database</li>
			<li><a href="http://www.sinatrarb.com/" target="_blank">Sinatra</a> for the web application</li>
			<li><a href="https://www.ruby-lang.org/en/" target="_blank">Ruby</a> for programming</li>
			<li><a href="https://git-scm.com/" target="_blank">Git</a> for version control</li>
			<li><a href="https://www.heroku.com/" target="_blank">Heroku</a> for hosting</li>
		</ul>
</div>
<div class="page-bottom"></div>