<h2>Gimmie a word:</h2>
<p>Three letter words only please</p>
<div class="form-box">
	<form action="/" method="post" class="form">
		<div class="form-space">
			<label for="word">Enter a word:</label>
			<input type="text" name="word">
		</div>
		<div class="form-space">
			<input type="submit" class="btn" value="Make it happen">
		</div>
	</form>

</div>
<div class="page-bottom">
</div>