

<div class="inside-container">
	<div class="get-anagram">
		<h2>Enter your word:</h2>
		<h3>Three letter words only please...</h3>
		<% if @error %>
			<div class="error-message" id="word-error">
				<%= @error %>
			</div>
		<% end %>
		
		<div class="form-box">
			<form action="/" method="post" class="form">
				
				<div class="form-space">
					<label for="word">Enter a word:</label>
					<input type="text" name="word" value="<%="#{@word}" %>">
				</div>
				
				<div class="form-submit">
					<input type="submit" class="btn" value="BOOM">
				</div>
				
			</form>
		</div>
		
	</div>
	
	<div class="page-bottom"></div>
</div>
