<h2 class="style-sub">Anagrams for <%= "#{@word}" %>:</h2>
<div  id="anagram-list">
	<ol>
		<!-- <% @anagrams.each do |word| %>
			<li><%= word %></li>
		<% end %> -->
		<% if !@anagrams.nil? %>
			<% @anagrams.each do |word| %>
				<li><%= "#{word.text}" %></li>
			<% end %>
		<% end %>
	</ol>  
</div>
<div class="page-bottom">
</div>